{% extends 'base.html' %}

{% block content %}

<h2 class="titulo">Minhas Tarefas</h2>

<div class="topo-dashboard">
    <form method="GET">
        <input type="text" name="filtro" placeholder="Buscar tarefa">
    </form>

    <a href="/criar" class="btn">+ Nova</a>
</div>

<ul class="lista-tarefas">
    {% for t in tarefas %}
    <li class="item-tarefa">
        <span>{{ t.titulo }}</span>

        <div class="acoes">
            <a href="/editar/{{ t.id }}">Editar</a>
            <a href="/deletar/{{ t.id }}">Excluir</a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}