{% extends 'base.html' %}

{% block content %}

<div class="hero">
    <h1>Organize sua vida com mais facilidade</h1>
    <p>Gerencie suas tarefas de forma simples e rápida.</p>
    <a href="/cadastro" class="btn">Começar agora</a>
</div>

<img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085" class="banner">

<div class="section">
    <h2>Por que usar?</h2>

    <div class="lista">
        <p>✔ Organização das tarefas</p>
        <p>✔ Interface simples</p>
        <p>✔ Acesso rápido</p>
    </div>
</div>

<div class="section">
    <h2>Como funciona?</h2>

    <div class="lista">
        <p>1️⃣ Crie sua conta</p>
        <p>2️⃣ Adicione tarefas</p>
        <p>3️⃣ Gerencie tudo facilmente</p>
    </div>
</div>

<div class="hero">
    <h2>Pronto para começar?</h2>
    <a href="/login" class="btn btn-green">Acessar conta</a>
</div>

<div class="footer">
    Projeto acadêmico • Sistema de tarefas
</div>

{% endblock %}